<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Editar de Passeio</h1>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="/admin/editar-passeio4x4/{$passeio4x4.idPasseio4x4}">
                    <div class="card-body row">

                        <div class="form-group col-md-10">
                            <label for="exampleInputName"> Nome </label>
                            <input type="text" class="form-control" id="exampleInputName" name="txtNome" value="{$passeio4x4.txtNome}">
                        </div>

                        <div class="form-group col-md-10">
                            <label for="exampleInputdescricao"> Descrição </label>
                            <input type="text" class="form-control" id="exampleInputDescricao" name="txtDescricao" value="{$passeio4x4.txtDescricao}">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="exampleInputLotacao"> Lotacao </label>
                            <input type="number" class="form-control" id="exampleInputLotacao" name="txtLotacao" value="{$passeio4x4.txtLotacao}">
                        </div>

                    </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer col-md-12 form-group">
                    <button type="submit" class="btn btn-primary form-control">Submit</button>
                  </div>
                </form>
              </div>
              <!-- /.card -->
  
           
  
         
  
            </div>
            <!--/.col (left) -->
            <!-- right column -->
          
            <!--/.col (right) -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
   
  
   
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  