<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Notícias</title>
</head>
<body>
	<h1>Adicionar Notícia</h1>
	<hr>
	<form action="/noticias/salvar" method="post">
		<label for="titulo">Título</label><br>
		<input type="text" name="titulo" id="titulo" placeholder="Título da Notícia">

		<br>

		<label for="noticia">Notícia</label><br>
		<textarea name="noticia" id="noticia" cols="30" rows="10"></textarea>

		<br>

		<input type="submit" value="Salvar">
	</form>
	<hr>
</body>
</html>