* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Baloo Paaji 2";
    color: #000;
  }

  $principal:#5CC2C5;
  $secundaria: #FC6171; 

  $escura1:#646464;

  .mobile{
    display: none;
  }

  .mostrar {
    display: block;
  }
  .esconder {
    display: none;
  }

  .carrinhoMobile{
    display: none;
  }
  .finalizacao-compra{
    margin-top: 60px;
    margin-bottom: 80px;
    h1, i, h4{
      text-align: center;
    }
    i{
      width: 100%;
      font-size: 80px;
      color: $principal;
    }
  }
  header{
    padding: 5px 0;
    .superior{
        background-color: $principal;
        color: #fff;
        padding: 2px 2px;
        
        span, i, b, a{
          color: #fff;
          font-size: 18px;
          text-decoration: none;
        }
        i{
          margin-left: 7px;
        }
    }
  
      hr {
        padding: 0;
        margin: 0;
      }


      .centro{
        background-color: $principal;
          .logo{
             
              margin: 6px 0;
              img{
                width: 120px;
              }
          }
          span{
            font-family: 'Titillium Web';
            font-size: 18px;
          }
          .formulario{
                border: 1px solid #707070;
                -webkit-border-radius: 7px;
                -moz-border-radius: 7px;
                border-radius: 7px;
                width:  496px;
                padding: 4px 10px;
                form{
                    display: flex;
                    justify-content: space-between;
                    input[type="text"]{
                        font-family: 'Titillium Web';
                        border: none;
                        outline: none;
                        flex: 1;
                        font-size: 18px;
                    }
                    button{
                        border: none;
                        background-color: #fff;
        
                        i{
                            color: $secundaria;
                            font-size: 20px;
                        }
                       
                    }
                }
               
          }
            .usuario{
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }
                margin: 0;
                padding: 0;
                li{
                    margin-left: 20px;
                }
                i{
                    margin-right: 5px;
                    color: $principal;
                    font-size: 36px;
                }
            }
       

      }

      .navbar {
        padding: 0;
        background-color:#fff;
      }
      .navbar-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        .nav-item {
          padding: 9px 13px;
    
          .nav-link {
            color: $escura1;
            font-size: 18px;
            font-weight: 600;
            padding: 0;
            &:hover{
                color: $principal;
                transition: all ease-in 0.16s;
            }
          }
         
        }
      }
    

  }

  main{

    .produtos{
      .filtro{
        margin-bottom: 20px;
        .cabecalho{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $principal;
          padding: 6px 15px;
          span, i{
           
           
            color: #fff;
            font-weight: 800;
            font-size: 18px;
          }
          i{
            display: none;
          }
        

        }
        .categorias, .tamanho{
          margin-bottom: 10px;
        }
        .corpo{
          border: 1px solid #a7a7a7;
          form{
            padding: 10px 15px;
            span{
              font-size: 18px;
              font-weight: 600;
            }
            input[type="submit"]{
              background-color: $principal;
              width: 100%;
              border: none;
              color: #fff;
              padding: 5px 0;
              font-weight: 600;
              font-size: 18px;
              &:hover{
                background-color: darken($color:$principal, $amount: 10);
                transition: ease-in all 0.26s;
              }
            }
            label{
              margin: 0;
            }
          }
        }
      }
    }

    #avaliacao {
      h5 {
        margin: 0;
      }
      .estrelas input[type="radio"] {
        display: none;
      }
      .estrelas label i.fa:before {
        content: "\f005";
        color: $principal;
      }
      .estrelas input[type="radio"]:checked ~ label i.fa:before {
        color: #ccc;
      }
  
      .estrelas label {
        display: inline-block;
        font-size: 1.3em;
        cursor: pointer;
      }
  
      label {
        margin: 0;
        font-weight: 600;
        font-size: 16px;
      }
      .form-100 {
        width: 100%;
      }
      input[type="text"],
      textarea {
        padding: 6px 12px;
        outline: none;
        border: 1px solid $escura1;
      }
      .estrelas {
        margin: 5px 0;
        p {
          margin: 0;
          font-weight: 600;
          font-size: 16px;
        }
      }
      .nota-geral {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        i {
          color: $principal;
        }
        .estrelas-media {
          margin: 0 10px;
        }
      }
      span {
        font-size: 14px;
      }
      .botao {
        margin-top: 14px;
  
        input {
          border: none;
          color: #fff;
          background-color: $principal;
          padding: 6px 20px;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .avaliacoes {
        margin-top: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 24px;
        p {
          margin: 0;
        }
        h6 {
          margin: 0;
        }
        i {
          color: $principal;
        }
        .avaliacao {
          padding: 10px 0;
          border-bottom: 1px solid $escura1;
        }
      }
    }


    .card{

      padding: 10px 12px;
      
      margin-bottom: 15px;
      border: 1px #312E2E dashed;
      h5{
        text-align: center;
        margin: 0;
    }
      a{
        color: #fff;
        &:hover{
          text-decoration: none;
        }
      }
      .cabecalho{
          display: flex;
          justify-content: center;
      }
      .preco{
          font-family: 'Titillium Web';
          color: $secundaria;
          font-size: 24px;
      }
      .valor{
          font-family: 'Titillium Web';
          color: $secundaria;
          font-size: 34px;
          font-weight: 600;
      }
      button{
          color: #fff;
          padding: 4px;
          background-color: $principal;
          border: none;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          font-weight: 600;
          font-size: 20px;
          i{
              color: #fff;
              margin-left: 3px;
          }
          &:hover{
            background-color: darken($principal, 20);
            transition: ease-in 0.25s all;
          }
      }
  }

      .secaoPrincipal{
          margin-top: 20px;
          margin-bottom: 10px;
          .titulo{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              h1{
                  text-align: center;
                  color: $principal;
                  font-size: 48px;
                  margin: 0;
              }
         
          }
          .item{
            h5{
                text-align: center;
                margin: 0;
            }
            .card{
              margin-right: 12px;
              padding: 10px 12px;
                border: 1px #312E2E dashed;
                .cabecalho{
                    display: flex;
                    justify-content: center;
                }
                .preco{
                    font-family: 'Titillium Web';
                    color: $secundaria;
                    font-size: 24px;
                }
                .valor{
                    font-family: 'Titillium Web';
                    color: $secundaria;
                    font-size: 34px;
                    font-weight: 600;
                }
                button{
                    color: #fff;
                    padding: 4px;
                    background-color: $principal;
                    border: none;
                    -webkit-border-radius: 50px;
                    -moz-border-radius: 50px;
                    border-radius: 50px;
                    font-weight: 600;
                    font-size: 20px;
                    i{
                        color: #fff;
                        margin-left: 3px;
                    }
                    &:hover{
                      background-color: darken($principal, 15);
                    }
                }
            }
        }
      }
      .areaPromocional{
        background-color: $principal;
        display: flex;
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: end;
        .itens{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        img{
          width: 30%;
        }
        .conteudo{
          width: 60%;
        }
        h2{
          font-size: 58px;
          font-weight: 800;
          color: #fff;
        }
        p{
          font-size: 26px;
          font-weight: 600;
          color: #fff;
        }
        button{
          color: #fff;
          background-color: $secundaria;
          border: none;
          font-size: 20px;
          padding: 7px 20px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          outline: none;
          &:hover{
            background-color: darken($secundaria, 10);
            transition: ease-in 0.2s;
            outline: none;
          }
          i{
            color: #fff;
          }
        }
      }
      .paginacao{
        margin: 35px 0;
        display: flex;
        justify-content: center;
        .ativo{
          color: #fff;
          background-color: $principal;
        }
        a{
          margin: 0 3px;
         button{
            height: 40px;
            width: 40px;
            color: $principal;
            background-color: transparent;
            border: 1px dashed $principal;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            font-weight: 600;
            font-size: 18px;
            outline: none;
            &:hover{
              color: #fff;
              background-color: $principal;
              transition: ease-in 0.26s all;
            }
           
         }
        }
      }
      .login{
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        width: 420px;
        .criarConta{
          margin-top: 30px;
          margin-bottom: 30px;
         button{
           width: 100%;
           font-weight: 600;
           text-decoration: underline;
           font-size: 18px;
           background-color: #fff;
           border: none;
           padding: 10px;
           outline: none;
           &:hover{
            outline: none;
             background-color: #e4e4e4;
           }
         }
        }
        .resetSenha{
          width: 100%;
          background-color: #fff;
          margin: 10px 0;
          border: none;
        }
        h4{
          color: $secundaria;
          margin: 5px;
          text-align: center;
        }

        form{
          display: flex;
          flex-direction: column;
          input[type="email"], input[type="password"]{
            padding: 5px 10px;
            outline: none;
            margin: 6px 0;
            border: 1px solid #A8A8A8;
          }
          input[type="submit"]{
            color: #fff;
            background-color: $principal;
            border: none;
            padding: 6px 0;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            &:hover{
              transition: ease-in all 0.20s;
              background-color: darken($principal,20);
            }
            font-weight: 700;
            font-size: 20px;
          }
        }
      }

      .contaCriar{
        margin-top: 20px;
        margin-bottom: 40px;
        h4{
          margin-top: 25px;
          text-align: center;
          color: $secundaria;
        }
        .middle{
          display: flex;
          justify-content: center;
        }
        button{
          text-decoration: underline;
          font-weight: 600;
          font-size: 18px;
          background-color:#fff;
          border: none;
          margin: 5px 0;
          outline: none;
        }
        form{
          input[type="text"], input[type="password"], input[type="email"]{
            width: 100%;
            outline: none;
            padding: 5px 13px;
            border: 1px solid #A8A8A8;
          }
          input[type="submit"]{
            padding: 7px 0;
            width: 35%;
            margin: 20px 0 10px;
            color: #fff;
            background-color: $principal;
            font-weight: 600;
            font-size: 18px;
            border: none;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            &:hover{
              transition: ease-in all 0.20s;
              background-color: darken($principal,20);
            }
          }
         
         
          label{
            margin: 0;
            font-weight: 600;
            margin-top: 14px;
            color: #545454;
            font-size: 18px;
          }
        }
      }
      
      .carrinho3{
        .cabecalho{
          background-color: $principal;
          padding: 5px 17px;
          display: flex;
          align-items: center;
          margin-top: 20px;
          span{
            color: #fff;
            margin: 0;
            margin-right: 8px;
            font-weight: 600;
            font-size: 23px;
          }
         
          p{
            color: #fff;
            margin: 0;
            font-weight: 600;
            font-size: 18px;
          }
        }
        .conteudo{
          border: 1px solid #D2D2D2;
          padding: 8px 17px;
         
          label{
            margin: 0;
            font-weight: 600;
          }
          input[type="text"], select{
            width: 100%;
            padding: 4px 12px;
            margin-bottom: 10px;
          }
          .rbLabel{
            margin-left: 5px;
            font-weight: 400;
          }
          .sep{
            width: 30px;
          }
          .payment{
            padding: 7px 10px;
            background-color: #F6F6F6;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            margin-bottom: 8px;
            .cartaoInfo{
              margin-top: 15px;
              .menor{
                margin: 0;
                text-align: center;
                font-size: 12px;
              }
            }
            .validade{
              display: flex;
              align-items: center;
              span{
                margin: 0 3px;
                font-size: 22px;
              }
            }
          }
        }
        .finalizarPedido{
         
            width: 100%;
            background-color: $secundaria;
            font-weight: bold;
            color: #fff;
            border: 0;
            padding: 8px;
            font-size: 20px;
            outline: none;
            margin: 20px 0 40px;
            &:hover{
              background-color: darken($secundaria, 10);
              transition: ease-in all 0.20s;
            }
          
        }
      }
      .tarja{
        background-color: #F3F3F3;
        padding: 8px 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 3px;
        .price{
          font-weight: bold;
          margin-left: 12px;
          font-size: 20px;
        }
        .totalValor{
          font-weight: 600;
        }
        .priceTotal{
          font-weight: bold;
          font-size: 22px;
          margin-left: 12px;
        }
      }
      .revisao{
        img{
          width: 30%;
        }
        h6{
          margin: 0;
          color: $principal;
          font-size: 18px;
          font-weight: 700;
        }
        .resumoProduto{
          flex: 1;
          margin-left: 10px;
        }
      
        .detalhesProdutos{
          width: 100%;
          span{
            font-size: 13px;
           
            margin: 0;
           
          }
          .negrito{
            font-weight: bold;
          }
          .price{
            font-size: 20px;
            font-weight: 600;
          }
        }
       
      }

      .carrinho2{
        margin-top: 30px;
        margin-bottom: 30px;
        .cabecalho{
          background-color: $principal;
          padding: 6px;
          display: flex;
          justify-content: center;
          span{
            font-size: 24px;
            color: #fff;
            font-weight: bold;
          }
        }
        input, select{
          width: 100%;
        }
        input[type="text"], select{
          border: 1px solid #E1E1E1;
          outline: none;
          padding: 4px 16px;
          margin-bottom: 14px;
        }
        .botao{
          display: flex;
          justify-content: center;
          margin: 12px 0;
          input[type="submit"]{
            width: 20%;
            color: #fff;
            font-weight: bold;
            border: none;
            background-color: $secundaria;
            font-size: 20px;
            padding: 6px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
            &:hover{
              transition: ease-in all 0.2s;
              background-color: darken($secundaria, 20);
            }
           }
        }
       
        label{
          margin: 0;
          font-weight: 400;
        }
        .conteudo{
          border: 1px solid #D2D2D2;
          padding: 8px 20px;
        }
      }

      .relacionados{
        margin-bottom: 40px;
      }
      .informacoesPrincipais{
        margin-top: 30px;
        margin-bottom: 50px;
        .avaliacao{
          i{
            color:#FFDD00 ;
          }
        }
        
        .formulario{
          input[type="checkbox"]{
            display: none;
          }
          .tamanho{
            input[type="radio"]{
              display: none;
            }
            span{
              font-weight: 600;
            }
            .ativo{
              background-color: $principal;
              color: #fff;
            }
          }
          .cores{
            margin-top: 8px;
            span{
              font-weight: 600;
            }
            label{
              width: 25px;
              height: 25px;
              -webkit-border-radius: 0px;
              -moz-border-radius: 0px;
              border-radius: 0;
              border: none;
              display: flex;
              justify-content: flex-end;
              sup{
                margin-top: -10px;
                margin-right: -2 px;
              }
              i{
                  color: #fff;

              }
            }
            input[type="radio"]{
              display:none;
            }
          }
          label{
            cursor: pointer;
            width: 35px;
            height: 35px;
            margin: 0;
            margin-right: 6px;
            text-align: center;
            border: 1px dashed $principal;
            display: flex;
            align-items: center;
            justify-content: center;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
          }
        }
        .preco{
          color: #3D3D3D;
          span{
            font-weight: bold;
          }
          .val{
            display: flex;
            align-items: flex-start;
            font-size: 28px;
            color: #3D3D3D;
            span{
              margin: 0;
              color: #3D3D3D;
            }
          }
          .total{
            font-size: 60px;
            line-height: 1;
            color: #3D3D3D;
          }
        }
       button[type="submit"]{
          width: 100%;
          background-color: $principal;
          color: #fff;
          font-weight: bold;
          padding: 12px;
          font-size: 24px;
          border: none;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          &:hover{
            transition: ease-in 0.23s all;
            background-color: darken($principal, 10);
          }
          i{
            color: #fff;
          }
        }
      }
      .informacoesProdutos{
        margin-top: 30px;
        margin-bottom: 35px;
        .cabecalho{
          display: flex;
    
            span{
            padding: 4px 14px;
            font-weight: 600;
            color: $principal;
            border: 1px solid $principal;
            font-size: 20px;

            &:hover{
              cursor: pointer;
              transition: ease-in 0.24s all;
              background-color: $principal;
              color: #fff;
            }
          }
          
          .ativo{
            background-color: $principal;
            color: #fff;
          }
         
        }
        .conteudo{
          margin: 0;
          padding: 16px 15px;
          border: 1px solid $principal;
          text-align: justify;
        }
      }
      .thumbnails{
        img{
          padding: 5%;
            border: 1px solid $escura1;
        }
      }
      .pedidos{
        margin-top: 35px;
        margin-bottom: 35px;
        .menuLateral{
          background-color:#EFFFFF ;
          padding: 20px 22px;
          hr{
            margin: 0;
          }
          li{
            padding: 6px 0;
          }
        }
        thead{
          th{
            background-color: $principal;
            color: #fff;
            font-weight: 400;
            font-size: 18px;
            white-space: nowrap;
          }
        }
        tbody{
          white-space: nowrap;
          button{
            border: none;
            background-color: $principal;
            color: #fff;
            padding: 3px 12px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            i{
              color: #fff;
            }
            &:hover{
              background-color: darken($principal, 15);
              transition: ease-in 0.22s all;
            }
          }
        }
      }
      .infoConta{
        .cabecalho{
          background-color: $principal;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 6px 20px;
          span{
            margin: 0;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
          }
          button{
            padding: 4px 8px;
            border: none;
            color: #fff;
            font-weight: 600;
            background-color: transparent;
            outline: none;
            &:hover{
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              border-radius: 5px;
              background-color: darken($color: $principal, $amount: 20);
              transition: ease-in 0.23s all;
            }
          }
        }
        .conteudo{
          padding: 15px 20px;
          border: 1px solid #BFBFBF;
          margin-bottom: 25px;
          label{
            margin: 0;
           color:#545454;
            font-weight: 600;
          }
          input[type="submit"]{
            background-color: $secundaria;
            color: #fff;
            font-weight: 600;
            font-size: 18px;
            border: none;
            &:hover{
              background-color: darken($secundaria, 10);
              transition: ease-in 0.23s all;
            }
          }
        }
      }
      .carrinho_vazio{
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .resumoPedido{
        margin-top: 20px;
        margin-bottom: 20px;
        .cabecalho{
          background-color: $principal;
          color: #fff;
          font-weight: 600;
         
        }
        .conteudo{
          border: 1px solid $principal;
        }
        .cabecalho, .conteudo{
          padding: 2px 7px;
        }
        .produtos{
          margin-top: 25px;
        }
       
      }
      .carrinho1{
        margin-top: 20px;
        margin-bottom: 20px;
        table{
          width: 100%;
          thead{
            background-color: $principal;
            border: 1px solid $principal;
            th{
              color: #fff;
              padding: 12px 8px;
              text-align: center;
            }
          }
          tbody{
            
            img{
              width: 130px;
            }
            tr{
              padding: 12px 8px;
              border: 1px solid #A7A7A7;
            }
            td{
              text-align: center;
              span{
                color: $secundaria;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
              }
              input[type="text"]{
                border: none;
                background-color: #E4E4E4;
                width: 30px;
                text-align: center;
                margin:0 6px;
              }
             a{
               text-decoration: none;
               font-weight: 600;
               color: #000;
             }
            }
          }
        }
        .frete{
         
          span{
            color: $secundaria;
            font-weight: 600;
          }
          input[type="text"]{
            padding: 2px 12px;
            width: 120px;
            outline: none;
            border: 1px solid #A7A7A7;
          }
          input[type="submit"]{
            padding: 2px 12px;
            width: 100px;
            outline: none;
            border: none;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background-color: $principal;
            font-weight: 600;
            color: #fff;
            margin-left: 10px;
            margin-bottom: 20px;
            &:hover{
              background-color: darken($principal, 15);
              transition: 0.26s ease-in all;
            }
          }
        }
        .resultados{
         
          label{ 
            margin: 0;
            margin-left: 7px;
          }
        }
        .baixoTabela{
          padding: 15px 25px;
          border: 1px solid #A7A7A7;
          display: flex;
    
          justify-content: space-between;
          span{
            font-size: 21px;
            font-weight: 600;
            color: $secundaria;
          }
          button{
            background-color: $principal;
            color: #fff;
            border: none;
            font-size: 18px;
            font-weight: 600;
            padding: 3px 25px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            &:hover{
              background-color: darken($principal, 20);
              transition: 0.26s all ease-in;
            }
          }
          .resumoPedido{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
          
        }
      }
     
  }
  
  
  footer{
    .separador{
      width: 50px;
      padding: 2px;
      background-color: $principal;
      margin-bottom: 8px;
    }
    .superior{
      background-color: #F3FAFF;
      background-image: url('_img/padrao.svg');
      background-repeat: repeat;
      padding-top: 45px;
      padding-bottom: 45px;
      .conteudo{
        display: flex;
        justify-content: space-between;
        h4{
          margin-bottom: 0;
        }
        .newsletter{
          form{
            border-bottom: 1px solid $principal;
            padding: 3px 12px;
            display: flex;
            justify-content: space-between;
            input[type="text"]{
              background-color: transparent;
              border: none;
              outline: none;
              flex: 1;
            }
            button{
              border: none;
              background-color: transparent;
              i{
               
                color: $principal;
              }
            }
          }
          .sociais{
            h5{
              margin-bottom: 2px;
              font-size: 22px;
            }
            .icones{
              display: flex;
            }
            a{
              margin-right: 10px;
              button{
                width: 35px;
                height: 35px;
                border: 1px dashed #000;
                background-color: transparent;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                  color: $principal;
                  font-size:16px ;
                }
              }
            }
          }
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
    .inferior{
      padding: 40px;
      background-color: #94C7EB;
    }
  }


  .MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
  }
  .MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
  }
  .MultiCarousel .MultiCarousel-inner .item {
    float: left;
    
  }
  
  .MultiCarousel .leftLst,
  .MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
  }
  .MultiCarousel .leftLst {
    left: 0;
  }
  .MultiCarousel .rightLst {
    right: 0;
  }
  
  .MultiCarousel .leftLst.over,
  .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
  }
  
  .MultiCarousel {
    .btn {
      color: #fff;
      background-color: $secundaria;
    }
  }
  

  @media screen and (max-width: 992px) {
    .mobile {
      display: block;
    }
    .desktop {
      display: none;
    }
    main{

      .produtos{
        .filtro{
          margin-top: 20px;
          margin-bottom: 20px;
          .cabecalho{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $principal;
            padding: 6px 15px;
            span, i{
             
             
              color: #fff;
              font-weight: 800;
              font-size: 18px;
            }
            i{
              display: block;
            }
          
  
          }
          .categorias, .tamanho{
            margin-bottom: 10px;
          }
          .corpo{
           
            border: 1px solid #a7a7a7;
            form{
              padding: 10px 15px;
              span{
                font-size: 18px;
                font-weight: 600;
              }
              input[type="submit"]{
                background-color: $principal;
                width: 100%;
                border: none;
                color: #fff;
                padding: 5px 0;
                font-weight: 600;
                font-size: 18px;
                &:hover{
                  background-color: darken($color:$principal, $amount: 10);
                  transition: ease-in all 0.26s;
                }
              }
              label{
                margin: 0;
              }
            }
          }
        }
      }


      .areaPromocional{
        background-color: $principal;
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: end;
        .itens{
          flex-direction: column;
        }
        img{
          display: none;
        }
        .conteudo{
          width: 100%;
        }
        h2{
          font-size: 48px;
          font-weight: 800;
          color: #fff;
          text-align: center;
        }
        p{
          font-size: 24px;
          font-weight: 600;
          text-align: center;
          color: #fff;
        }
        button{
          color: #fff;
          background-color: $secundaria;
          border: none;
          width: 100%;
          font-size: 20px;
          padding: 7px 20px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          outline: none;
          &:hover{
            background-color: darken($secundaria, 10);
            transition: ease-in 0.2s;
            outline: none;
          }
          i{
            color: #fff;
          }
        }
      }
    }
    header{
    
      img{
        margin: 10px 0;
        width: 90px;
      }
      .navbar{
        padding: 6px 0;
        background-color: $principal;
        button{
          background-color: transparent;
          border: none;
          outline: none;
          i{
            color: #fff;
          }
        }
        .navbar-header{
          width: 100%;
         display: flex;
         justify-content: space-between;
          
        }
      }
    }
    footer{
      .superior{
        .conteudo{
          display: flex;
        flex-direction: column;
        }
        
      }
     
    }
  }

  @media screen and(max-width: 768px) {
    .carrinhoDesktop{
      display: none;
    }
    .carrinhoMobile{
      display: block;
      thead{
        th{
          padding: 4px;
        }
      }
      tbody{
        tr{
          img{
            width: 65px;
          }
          .conteudo{
            display: flex;
            align-items: center;
            flex-direction: column;
          }
          button{
            padding: 2px 12px;
            margin: 10px 0;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            background-color: #fff;
            color: $secundaria;
            font-weight: 600;
           border: 1px solid $secundaria;
            i{
              color: $secundaria;
              margin-left: 3px;
            }
            &:hover{
              background-color: $secundaria;
              color: #fff;
              i{
                color: #fff;
              }
              transition: ease-in 0.26s all;
            }
          }
          .span2{
            text-align: left;
            font-size: 14px;
            color: #000;
          }
        }
      }
    }

  }

  @media screen and(max-width: 575.98px) {
    header{
    .centro{
      .logo{
        width: 72px;
        margin: 6px 0;
    }
    }      

    }
    
    main{
      .login{
        width: 300px;
      }
    }
  }