<!DOCTYPE html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nova notícia</title>
</head>
<body>
	<h1>Adicionar notícia</h1>
	<br>
	<% if(validacao) { %>
		<ul>
			<% for(let i = 0; i < validacao.length; i++) { %>
				<li>
					<%= validacao[i].msg %>
				</li>
			<% } %>
		</ul>
	<% } %>
	<form action="/noticia_salvar" method="post">
		<label for="titulo">Título</label>
		<br>
		<input type="text" name="titulo" id="titulo" placeholder="Título da noticía">
		<br>
		<label for="noticia">Noticía</label>
		<br>
		<textarea name="noticia" id="noticia" cols="30" rows="5"></textarea>
		<br>
		<label for="resumo">Resumo</label>
		<br>
		<input type="text" name="resumo" id="resumo" placeholder="Resunmo da notícia">
		<br>
		<label for="autor">Autor</label>
		<br>
		<input type="text" name="autor" id="autor" placeholder="Nome Completo">
		<br>
		
		<input type="submit" value="Enviar">
	</form>
</body>
</html>